* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

main {
  display: flex;
  height: calc(100vh - 90px);
}

/* Parte Sinistra */
#main-menu .block532 {
  display: none;
}

#main-menu {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  position: relative;
}

/* Logo */
#logo {
  min-height: 90px;
  position: relative;
}

#logo img {
  width: 115px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

/* Nav sinista */
#nav-left li {
  margin-left: 45px;
  position: relative;
  line-height: 1.7rem;
}

#nav-left ul li .green {
  width: 2px;
  height: 28px;
  background-color: #1DB954;
  position: absolute;
  top: 50%;
  left: -6%;
  transform: translateY(-50%);
}

#nav-left img {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

#nav-left a {
  color: #888;
  text-decoration: none;
  font-size: 12px;
}

#nav-left a:hover {
  color: #fff;
}

/* Sezione Playlist scrollable */
#playlist {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 25px 0 90px 40px;
}

#playlist h4 {
  color: #fff;
  font-size: 13px;
  margin-bottom: 6px;
}

#playlist .new-playlist {
  margin-bottom: 7px;
}

#playlist li {
  line-height: 1.8rem;
}

#playlist a {
  color: #888;
  text-decoration: none;
  font-size: 13px;
}

#playlist i {
  font-size: 35px;
  vertical-align: middle;
}

#playlist span {
  font-size: 15px;
}

#playlist a:hover {
  color: #fff;
}

/* Sezione Account */
#account {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #000;
}

#account small {
  margin-bottom: 0;
}

#account small:hover {
  color: #fff;
}

#account .installa {
  padding-bottom: 7px;
  border-bottom: 1px solid #888;
}

#account .installa i {
  color: #fff;
  font-size: 8px;
  vertical-align: middle;
}

#account #jonh {
  padding-top: 10px;
}

#account #jonh i {
  font-size: 20px;
  color: #888;
  vertical-align: middle;
}

#account span {
  font-size: 14px;
  color: #fff;
}


/* SCROLL PART, Sezione Centrale */
#main-scroll {
  width: calc(100vw - 230px);
  padding-top: 80px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(18,18,26);
}

/* Sezione fixed con bottone */
#pro {
  position: fixed;
  top: 0;
  left: 230px;
  width: calc(100vw - 230px);
  height: 80px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#pro .button {
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin-right: 20px;
  display: inline-block;
  transition: all 0.3s;
}

#pro .button:hover {
  transform: scale(1.1, 1.1);
}

#pro .button a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/* NAV centrale */
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#nav nav li {
  list-style: none;
  display: inline-block;
  padding: 0 9px;
  position: relative;
}

#nav nav li a {
  color: #888;
  text-decoration: none;
  font-size: 12px;
}

#nav nav li a:hover {
  color: #fff;
}

#nav nav li .green {
  width: 30px;
  height: 2px;
  background-color: #1DB954;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}

/* PARTE PRINCIPALE */
h3 {
  color: #fff;
  font-size: 25px;
  padding: 10px 0 20px 15px;
}

h5 {
  color: #fff;
  padding: 10px 0 2px;
}

small {
  color: #888;
  font-weight: 300;
  margin-bottom: 20px;
  display: inline-block;
}

.row-items {
  display: flex;
  flex-flow: row wrap;
}

/* TO MAKE LAYOVERS WORK */
.song-item {
  width: calc(100% / 6);
  position: relative;
  text-align: center;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.song-item img{
  display: block;
  width: 100%;
  height: auto;
}

.song-item .layover {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s;
}

.song-item .layover .play {
  color: #eee;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover > .layover {
  opacity: 1;
}

/* Sezione Made e Artist */
#made h3,
#artist h3 {
  padding-bottom: 0px;
}

#made small,
#artist small {
  margin: 0px 0 15px 20px;
}

#made h5,
#artist h5 {
  margin-bottom: 20px;
}

#artist .song-item img{
  border-radius: 50%;
}

#artist .song-item .layover {
  border-radius: 50%;
}

/* FONDO PAGINA */
footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  z-index: 10;
  background-color: rgb(40, 40, 40);
  color: #fff;
}

footer small {
  margin-bottom: 0;
}

/* Sezione Sinistra e Destra */
.player-left,
.player-right {
  height: 100%;
  width: 225px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.player-left .brano {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.player-left .brano .copertina img{
  width: 55px;
  height: auto;
}

.player-left .brano .text small:hover {
  color: #fff;
  text-decoration:underline;
}

.player-left .icone-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: space-around;
  color: #888;
}

.player-left .icone-wrap .fa-heart,
.player-left .icone-wrap .fa-folder {
  width: 21px;
  height: 20px;
}

.player-left .icone-wrap .fa-heart:hover,
.player-left .icone-wrap .fa-folder:hover {
  color: #fff;
}

/* Sezione centrale */
.player-center {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-center .comandi {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-center .fa-play-circle {
  font-size: 35px;
  transition: all 0.3s;
}

.player-center .fa-play-circle:hover {
  transform: scale(1.2, 1.2);
}

/* "Progress Bar" DURATA E VOLUME */
.durata {
  position: relative;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.volume {
  position: relative;
  width: 40%;
  padding: 5px 0;
}

.fa-circle {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translateY(-50%);
  font-size: 12px;
  display: none;
  transition: all 0.5s;
}

.progress-bar {
  width:70%;
  height: 4px;
  border-radius: 3px;
  background-color: #555;
}

.player-right .progress-bar {
  width: 100%;
}

.amount {
  width: 15%;
  height: 4px;
  border-radius: 3px;
  background-color: #ccc;
  transition: all 0.3s;
}

.player-right .amount {
  width: 30%;
}

.durata:hover .amount,
.volume:hover .amount {
  background-color: #1DB954;
}

.durata:hover .fa-circle,
.volume:hover .fa-circle {
  display: block;
}

/* Media screen ORIZZONTALI */
@media screen and (max-width:1025px) {
  .song-item {
    width: 20%;
  }
}

@media screen and (max-width:820px) {
  .song-item {
    width: 25%;
  }
}

@media screen and (max-width:744px) {
  .player-left,
  .player-right {
    flex-shrink: 1;
  }
}

@media screen and (max-width:670px) {
  .song-item {
    width: calc(100% / 3);
  }
}

@media screen and (max-width:580px) {
  .song-item {
    width: 50%;
  }
}

@media screen and (max-width:532px) {
  #main-menu {
    width: 50px;
  }

  #main-menu img.block532 {
    width: 50%;
    margin: 15px auto;
  }

  #nav-left li {
  margin-left: 15px;
  }

  #main-scroll,
  #pro {
    width: calc(100vw - 50px)
  }

  #pro {
    left: 50px;
  }

  #main-menu .block532 {
    display: block;
  }

  .under532 {
    display: none;
  }

}

/* Media screen VERTICALI */
@media screen and (max-height:490px) {
  #playlist {
    margin-bottom: 0;
  }

  #account {
    display: none;
  }
}

@media screen and (max-height:180px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
